<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="Shortcut Icon" href="https://w7.pngwing.com/pngs/434/570/png-transparent-chess-pawn-computer-icons-queen-icon-chess-king-hand-silhouette.png" type="image/x-icon" />
    <title>Chess.mberrish.com</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../content/Styles/PlayersPage/PlayerPageStyleMobile.css">

</head>

<body>
    <div class="header">
        <h1>Chess</h1>
    </div>

    <div class="card" id="player1"></div>
    <div class="card" id="player2"></div>
    <div class="card" id="player3"></div>
    <div class="card" id="player4"></div>


    <div class="header" id="myHeader">
        <p>© 2021 Mikheil Berishvili</p>
        <a href="https://github.com/mberrishdev" class="fa fa-github" id="link" target="_blank"
            style="font-size:50px"></a>
    </div>

    <script src="../content/Scripts/Constants.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="../content/Scripts/PlayersPage/ModelForPlayersPage.js"></script>
    <script src="../content/Scripts/PlayersPage/ControllerForPlayersPage.js"></script>
    <script src="../content/Scripts/PlayersPage/ViewForPlayersPage.js"></script>



</body>

</html>